.menu-block {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  font-family: 'Helvetica-Roman';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: white, $alpha: 0);
  border-bottom: 2px solid rgba($color: white, $alpha: 0.1);
}
.menu-block nav {
  width: 1110px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  width: 220px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  list-style-type: none;
  width: 300px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    transition: 0.5s all;
    &:hover {
      color: #faff1d;
    }
  }
}
#logo-img {
  animation: animate-logo 4s infinite;
}
.count {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Helvetica-Roman';
  font-size: 20px;
  color: #ffffff;
}
@keyframes animate-logo {
  from {
    transform: translateX(-80%) rotateY(180deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(180deg);
    opacity: 0.5;
  }
  to {
    transform: scale(1.3);
    opacity: 1;
  }
}
@media (max-width: 1178px) {
  .menu-block nav {
    width: 1000px;
    justify-content: space-around;
  }
  .count {
    right: 90px;
  }
}
@media (max-width: 998px) {
  .menu-block nav {
    width: 900px;
    justify-content: space-around;
  }
  .count {
    right: 70px;
  }
}
@media (max-width: 768px) {
  .menu-block nav {
    width: 600px;
    justify-content: space-between;
  }
  .count {
    right: -20px;
  }
  .menu {
    list-style-type: none;
    width: 250px;
    height: 90px;
    &__item {
      font-size: 20px;
    }
  }
}
@media (max-width: 586px) {
  .menu-block nav {
    width: 100%;
    justify-content: space-around;
  }
  .logo {
    width: 170px;
  }
  .count {
    right: 15px;
  }
  .menu {
    list-style-type: none;
    width: 170px;
    height: 90px;
    margin-left: 20px;
    &__item {
      font-size: 16px;
    }
  }
  #logo-img {
    width: 30px;
    height: 30px;
  }
  #logo-title {
    width: 130px;
  }
}
