* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(26, 26, 26, 1);
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./font/HelveticaNeueCyr-Bold.ttf') format('truetype');

  font-family: 'Helvetica-Black';
  src: url('./font/HelveticaNeueCyr-Heavy.ttf') format('truetype');

  font-family: 'Helvetica-Roman';
  src: url('./font/HelveticaNeueCyr-Roman.ttf') format('truetype');
}
